@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Spartan', sans-serif; */
    font-family: 'Headland One', serif;

}

body {
    /* filter: blur(10px); */
    /* z-index: -1; */
    position: relative;
    /* -webkit-backdrop-filter: blur(10px); 
     backdrop-filter: blur(10px); */
    /* backdrop-filter: blur(100%); */
    /* background-color: rgba(0,0,0,0.7); */
    /* height: 600px; */
    /* overflow: hidden;  */
}

nav {
    font-family: 'Spartan', sans-serif;
    height: 10vh;
    width: 100%;
    background-color: rgba(20, 33, 61, 0.3);
    position: relative;
}


.header{
    min-height: 100vh;
    background: url("img/bg-cover.jpg") center/cover no-repeat;
    color: #575 
}


.headText {
    font-family: 'Spartan', sans-serif;
    margin-left: 2rem;
    /* color: white; */
    color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-20px, -50%);
    transition: opacity 250ms ease;
    font-weight: 600;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    width: 50%;
    margin-left: auto;
}

.navlinks li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease;
}

.navlinks li:hover {
    background-color: rgba(252, 162, 17, 0.5);
    transition: all 250ms ease;
}

.links {
    text-decoration: none;
    /* color: white; */
    color: rgba(0, 0, 0, .6);
    font-size: 1rem;
}

.bg{
    /* z-index: -1; */
    /* filter: blur(5px); */
    /* background-color: rgb(53, 53, 75); */
    /* background-color:rgb(10, 5, 27, 0.9); */
    background-color:rgba(0, 0, 0, 0.9);
    /* background-color: rgba(0,0,0,0.7); */
    height: 552px;
    position: relative;
    /* display: none; */
    /* height: 100%; */
    /* overflow: hidden; */
}

/* ------------------------------------------Header Ends here------------------------------------------------- */

.container{
    display: flex;
    /* width: 430px; */
    height: 450px;
    /* margin: 0 auto; */
    /* margin-top: 15px; */
    /* justify-content: center; */
    /* align-items: center; */
}

.container h2{
    padding-top: 10px;
    text-align: center;
}

.container_children{
    background-image: url('img_hockey/bg2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px black solid; */
    /* z-index: -1; */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 470px;
    height: 450px;
    margin: 0px auto;
    margin-top: 55px;
    padding-left: 10px;
    box-shadow: 3px 3px 0px 0px rgba(255,255,255, 0.3);
    /* padding-top: 10px; */
}

.container_children li{
    padding-top: 20px;
    cursor: pointer;
}

/* .container a{
    border: 2px solid black;

} */

.break{
    margin-top: 40px;
    height: 450px;
    width: 1px;
    background-color: rgba(128, 128, 128, .4);
    border-radius: 10px;
}


/* .popfinal{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 290px;
    position: absolute;
    display: none;
} */
    /* color: white; */
    /* top: 48px; */
    /* top: 44px; */
    /* left: 411px;  */
    /* right: 39; */
    /* bottom: 0; */
    /* left: translateX(100px); */

.pop{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 290px;
    /* color: white; */
    position: absolute;
    /* top: 48px; */
    /* top: 44px; */
    /* left: 411px;  */
    /* right: 39; */
    /* bottom: 0; */
    /* left: translateX(100px); */
    padding: 20px;
    font-size: 22px;
    display: none;
}

.pop1{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 290px;
    /* color: white; */
    position: absolute;
    /* top: 48px; */
    /* top: 44px; */
    /* left: 411px;  */
    /* right: 39; */
    /* bottom: 0; */
    /* left: translateX(100px); */
    padding: 20px;
    font-size: 22px;
    display: none;
}

.pop2{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 290px;
    /* color: white; */
    position: absolute;
    /* top: 48px; */
    /* top: 44px; */
    /* left: 411px;  */
    /* right: 39; */
    /* bottom: 0; */
    /* left: translateX(100px); */
    padding: 20px;
    font-size: 22px;
    display: none;
}

.pop3{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 290px;
    /* color: white; */
    position: absolute;
    /* top: 48px; */
    /* top: 44px; */
    /* left: 411px;  */
    /* right: 39; */
    /* bottom: 0; */
    /* left: translateX(100px); */
    padding: 20px;
    font-size: 22px;
    display: none;
}

.pop4{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 290px;
    /* color: white; */
    position: absolute;
    /* top: 48px; */
    /* top: 44px; */
    /* left: 411px;  */
    /* right: 39; */
    /* bottom: 0; */
    /* left: translateX(100px); */
    padding: 20px;
    font-size: 22px;
    display: none;
}


/* ------------------------------------Route stops here--------------------------------------------- */
.switch{
    position: absolute;
    top: 15px;
    color: wheat;
    right: 40px;
    /* size: 40px; */
    /* width: 10px; */
    
}

.switch img{
    /* z-index: -1; */
    /* -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px); */
    /* -webkit-filter: blur(8px); */
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.switch_list{
    /* -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px); */
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    margin-right: 10px;
    /* position: absolute; */
    /* top: 50px; 
    right: 40px; */
    padding: 5px;
}

.switch_list-color{
    background:rgb(168, 49, 49);
    border-radius: 5px;

}

.switch_main{
    z-index: 2;
    /* filter: blur(4px); */
    width: 270px;
    height: 230px;
    background-color: rgba(255, 255, 255, 1);
    /* display: block; */
    position: absolute;
    top: 50px;
    right: 40px;
    margin-top: 0;
    display: none;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    
}
.is-show{
    display: flex;
}

.is-hidden{
    display: none;
}
