@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
    display: flex;
    line-height: 1;
    background: url("https://www.teahub.io/photos/full/283-2832555_sports-wallpapers-hd-sports-background.jpg") center/cover no-repeat;

}
.img-1{
    padding-left: 125px;
}

*, *::before, *::after{
    box-sizing: border-box;
}
.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(100, 93, 93, 0.125);
    background: url("") center/cover no-repeat;

}
#loginForm{
    background: url("https://previews.123rf.com/images/vectortone/vectortone1707/vectortone170700061/82105498-polygonal-abstract-with-green-gradient-shading-background-.jpg") center/cover no-repeat;

}
.design{
    background: url(./img/lead.jpg) ;
    width: 40%;
    height: auto;
    position: relative;
    border-radius: 6px;
}
.custom-field{
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 5px;
}

.custom-field input{
    padding: 12px;
    width: 300px;
    border-radius: 3px;
    border: 1.5px solid gray;
    outline-color: deepskyblue;
    font-size: 1em;
    color: #000;
    background-color: #e2c4e0;
    letter-spacing: 1px;
}

.custom-field .placeholder{
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color:black;

    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
    top: 21px;
    font-size: 10px;
    color: #222;
    padding: 5px;
    background: white;
}
.btn{
    background-color: #7f379b;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 5px;
}
.button1{
    padding-top: auto;
}
.User{
    display: inline-flex;
    padding-left: 80px;
    height: 10px;
    padding-top: 10px;
}

.btn:hover{
    background: #fff;
    color:black;
    border: 1px solid #000;
    cursor: pointer;
}